@model IEnumerable<Notification>

<h2>Notifications</h2>

<table class="table">
    <thead>
    <tr>
        <th>Type</th>
        <th>Topic</th>
        <th>Message</th>
        <th>Date</th>
        <th>Read</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderByDescending(n => n.Date)) // Sort by date
    {
    <tr>
        <td>@item.Type</td>
        <td>@item.Topic</td>
        <td>@item.Message</td>
        <td>@item.Date.ToString("g")</td>
        <td>
            @if (item.IsRead)
            {
            <span>Read</span>
            }
            else
            {
            <form asp-action="MarkAsRead" asp-controller="Notification" method="post" style="display:inline;">
                <input type="hidden" name="notificationId" value="@item.Id" />
                <input type="checkbox" onchange="this.form.submit()" /> Mark as read
            </form>
            }
        </td>
        <td>
            <form asp-action="Delete" asp-controller="Notification" method="post" style="display:inline;">
                <input type="hidden" name="notificationId" value="@item.Id" />
                <button type="submit" class="btn btn-link">
                    <img src="https://res.cloudinary.com/ggeztrw22/image/upload/v1726214680/icons/bin.png" alt="Delete" style="width: 24px; height: 24px;" />
                </button>
            </form>
        </td>
    </tr>
    }
    </tbody>
</table>
