@using ExpenseTrackingApplication.Data.Enum
@model ExpenseTrackingApplication.ViewModels.TransactionViewModels.BillEditViewModel

<div class="modal fade" id="EditBillModal-@Model.Id" aria-labelledby="editBillLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editBillLabel">Edit Bill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Bill" asp-action="Edit" method="post">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" value="@Model.Id"/>
                    <input type="hidden" asp-for="BudgetId" value="@Model.BudgetId"/>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label">Name</label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Amount" class="control-label">Amount</label>
                        <input asp-for="Amount" class="form-control" type="number"/>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DueDate" class="control-label">Due Date</label>
                        <input asp-for="DueDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                        <span asp-validation-for="DueDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Frequency" class="control-label">Frequency</label>
                        <select asp-for="Frequency" asp-items="@Html.GetEnumSelectList<BillFrequency>()" class="form-control">
                            <option value="">Select Frequency</option>
                        </select>
                        <span asp-validation-for="Frequency" class="text-danger"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-cancelM" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
