@model ExpenseTrackingApplication.Models.Bill

@{
    ViewData["Title"] = "Bill Details";
}

<h2>Bill Details</h2>

<div class="form-group">
    <label>Name:</label>
    <p>@Model.Name</p>
</div>

<div class="form-group">
    <label>Amount:</label>
    <p>@Model.Amount.ToString("C")</p> <!-- Format jako waluta -->
</div>

<div class="form-group">
    <label>Due Date:</label>
    <p>@Model.DueDate.ToShortDateString()</p>
</div>

<div class="form-group">
    <label>Frequency:</label>
    <p>@Model.Frequency</p>
</div>

<div class="form-group">
    <label>Status:</label>
    <p>@(Model.IsPaid ? "Paid" : "Unpaid")</p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to Bills List</a>
</div>