@model ExpenseTrackingApplication.ViewModels.UserProfileViewModel

@{
ViewData["Title"] = "User Profile";
}

<h1>@ViewData["Title"]</h1>

<div class="profile-container">
    <h2>User's Profile</h2>
    <div>
        <label>Username:</label>
        <span>@Model.UserName</span>
    </div>
    <div>
        <label>Email:</label>
        <span>@Model.Email</span>
    </div>
    <div>
        <label>Registration Date:</label>
        <span>@Model.RegistrationDate.ToString("yyyy-MM-dd")</span>
    </div>
    <div>
        <label>Avatar:</label>
        @if (!string.IsNullOrEmpty(Model.AvatarUrl))
        {
        var defaultAvatarUrl = "https://res.cloudinary.com/ggeztrw22/image/upload/v1722424290/avatars/default.jpg";
        if (Model.AvatarUrl != defaultAvatarUrl)
        {
        <img src="@Model.AvatarUrl" alt="Avatar" style="max-width: 150px;" />
        <form asp-action="RemoveAvatar" method="post" class="form-inline">
            <button type="submit" class="btn btn-danger">Remove Avatar</button>
        </form>
        }
        else
        {
        <img src="@Model.AvatarUrl" alt="Avatar" style="max-width: 150px;" />
        <span>Default avatar</span>
        }
        }
        else
        {
        <span>No avatar</span>
        }
    </div>
    <form asp-action="UploadAvatar" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="avatar">Upload New Avatar</label>
            <input type="file" name="file" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <a asp-action="Edit" class="btn btn-primary">Edit Profile</a>
</div>

<style>
    .profile-container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .profile-container h2 {
        margin-bottom: 20px;
    }

    .profile-container div {
        margin-bottom: 10px;
    }

    .profile-container label {
        font-weight: bold;
    }

    .profile-container span {
        margin-left: 10px;
    }

    .form-inline {
        display: inline;
    }
</style>
