@model IEnumerable<Budget>

<h2>Your Budgets</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppUserId)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.AppUserId)
        </td>
    </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add Budget</a>