@model IEnumerable<ExpenseTrackingApplication.Models.Budget>

<h2>Your Budgets</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Limit)
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Limit)
        </td>
        <td>
            <a asp-controller="Budget" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
            <a asp-controller="Budget" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
        </td>
    </tr>
    }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add Budget</a>
