@model IEnumerable<ExpenseTrackingApplication.Models.Budget>

@{
    ViewData["Title"] = "Budgets";
}

<h2>Your Budgets</h2>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Amount</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Balance
            </td>
            <td>
                <a asp-controller="Transaction" asp-action="Create" asp-route-budgetId="@item.Id" class="btn btn-success">Add Transaction</a>
                <a asp-controller="Income" asp-action="Create" asp-route-budgetId="@item.Id" class="btn btn-info">Add Income</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="AddNewBudget" class="btn btn-warning">Add New Budget</a>