@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ExpenseTrackingApplication.ViewModels.ManageUsersViewModel>

<h2>Manage Users</h2>

<form asp-action="BulkAction" asp-controller="Management" method="post">
    <div class="form-group">
        <button type="submit" name="bulkAction" value="block" class="btn btn-primary">Send Notifications to ALL</button>
    </div>
    
    <table class="table">
        <thead>
        <tr>
            <th>UserName</th>
            <th>Email</th>
            <th>Last Login</th>
            <th>Blocked</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@(user.LastLogin.HasValue ? user.LastLogin.Value.ToString("g") : "Never logged in")</td>
                <td>@user.IsBlocked ? "Yes" : "No"</td>
                <td>
                    <form asp-action="BlockUser" asp-controller="Management" method="post">
                        <input type="hidden" name="userId" value="@user.UserId"/>
                        @if (user.IsBlocked)
                        {
                            <button type="submit" name="block" value="false" class="btn btn-success">Unblock</button>
                        }
                        else
                        {
                            <button type="submit" name="block" value="true" class="btn btn-danger">Block</button>
                        }
                    </form>
                    <a asp-action="CreateSingleNotification" asp-controller="Notification" asp-route-userId="@user.UserId" class="btn btn-link">
                        <img src="https://res.cloudinary.com/ggeztrw22/image/upload/v1726869120/icons/message.png" alt="Send Notification" style="width: 20px;"/>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</form>